html {
  scroll-behavior: smooth;
}

body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .showcase::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(../img/purpleanto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;

  }

  .content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
  }
  
  .content .logo {
    height: 180px;
    width: 180px;
  }
  
  .content .title {
    font-size: 2.2rem;
    margin-top: 1rem;
  }
  
  .content .text {
    line-height: 1.7;
    margin-top: 1rem;
  }

  .text {
    font-size: 20px;
  }
  
  .center {
    text-align: center;
    margin: auto;
  }
  
  .bg-light {
    background: #f4f4f4;
    color: #333;
  }
  
  .bg-dark {
    background: #333;
    color: #f4f4f4;
  }
  
  footer {
    padding: 2.2rem;
    background-color: #993399;
    height: 30hv;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Small Screens */
  @media (max-width: 560px) {
    
    .showcase::after {
      height: 50vh;
    }
  
    .content {
      top: 5%;
      margin-top: 5px;
    }
  
    .content .logo {
      height: 140px;
      width: 140px;
    }
  
    .content .text {
      display: none;
    }
    .box-1 p {
      font-size: 15px;
    }
  
    .container-1 div, .box-1 {
      border-bottom: #333 dashed 1px;
      padding: 1.2rem 2rem;
    }
  }
  
  /* Landscape */
  @media (max-height: 500px) {
    .content .title,
    .content .text {
      display: none;
    }
  
    .content {
      top: 0;
    }
    
  }
 
  @media(min-width:468px){
    .container-1{
        display: flex;
    }
    
  }

  .box-1{
    width: 100%;
}



@media screen and (min-width: 1600px) {
  section {
    height: 100vh;
    width: 100%;
  }
  .box-5 {
    width: 50%;
  }
}


.box-1{
  margin-top: 9%;
  padding: 8%;
  font-size: 20px;
}

.box-1 h2 {
  margin-bottom: 20px;
}

.container-1 {
  margin-top: 8%;
}

#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8 {
  width: 200px;
  height: 80px;
  
  font-weight: bold;
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
#div1 {-webkit-animation-timing-function: linear;}
#div2 {-webkit-animation-timing-function: ease;}
#div3 {-webkit-animation-timing-function: ease-in;}
#div4 {-webkit-animation-timing-function: ease-out;}
#div5 {-webkit-animation-timing-function: ease-in-out;}
#div6 {-webkit-animation-timing-function: ease-in;}
#div7 {-webkit-animation-timing-function: ease-out;}
#div8 {-webkit-animation-timing-function: ease-in-out;}

/* Standard syntax */
#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}
#div6 {animation-timing-function: ease-in;}
#div7 {animation-timing-function: ease-out;}
#div8 {animation-timing-function: ease-in-out;}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

.icons {
  display:flex;
  flex-direction: column;
  justify-content: center;
  /*align-items:center;*/
  margin-left: 40%;
}

.tech {
  padding: 5%;
  font-weight: bold;
}

@media(max-width:468px){
  .icons{
    width: 100px;
    margin-left: 0%;
    padding-left: 0%;
  }
  .contact {
    font-size: 10px;
  }
}

.projects {
  padding: 5%;
}

.card-body {
  color: black;
}

.links {
  display: flex;
  justify-content: space-around;
}

.last {
  height: 60vh;
  text-align: center;
}

.last h3{
  margin-top: 8%;
  font-weight: bold;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 4%;
}

.contact i {
  padding: 13px;
  color: white;
}

a:link, a:visited{
	text-decoration:none;
	color:white;
	font-weight:bold;
}

.links a {
  color:black;
}

.box-5 button {
  color: black;
}

h1 {
  font-size: 30px;
}

ul {
  width: 100%;
  background: #000;
  height: 50px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  letter-spacing: 0;
  display: flex;
  justify-content: space-around;
}

ul li {
  list-style-type: none;
}

ul li a {
  color: #fff;
  line-height: 50px;
  box-sizing: border-box;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  

  ul {
      display: none;
  }
}